section {
    text-align: left; 
}

h2,
p,
ul {
    letter-spacing: .05rem;
}

li + li {
    margin-top: 1rem;
}

.services-list {
    margin-top: 3em; 
}

.bullet {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
}

.carousel {
    margin: 3rem auto auto;
    width: 80%;
}

.casa-image {
    margin: 2rem 0rem 0rem;
    width: 70%;
}

@media (min-width: 40em) {
    
    section {
        text-align: left; 
    }

    h1 {
        font-size: 4rem;    
    }

    h2 {
        font-size: 1.5rem;
    }

    ul {
        font-size: 1.3rem;
    }

    .split {
        margin-top: 0rem;
    }

    .carousel {
        width: 50%;
    }

    .casa-image {
        width: 70%;
    }    

}