:root {
    --clr-primary-200: #f9f6f1;
    --clr-neutral-900: #333;

    --ff-primary: 'Jost', sans-serif;
    --ff-accent: 'Cormorant Garamond', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: black;
    color: var(--clr-primary-200);
}

body,
h1,
h2,
p {
    margin: 0;
}

h1 {
    font-family: var(--ff-accent);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1rem;
}

h2 {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: .3rem; 
    margin: 1rem;   
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--clr-primary-200);
    letter-spacing: .2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.navright {
   justify-content: right;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.color-filter {
    filter: brightness(0) saturate(100%) invert(94%) sepia(10%) saturate(466%) hue-rotate(315deg) brightness(107%) contrast(95%);
}

.logo {
    width: auto;
    height: 45px;
    z-index: 99;
}

/* contact button.. */

.contact-button {
    min-width: 80px;
    height: 30px;
    color: var(--clr-primary-200);
    padding: 5px 10px;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: .6rem;
    letter-spacing: .15rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 99;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid var(--clr-primary-200);
    margin-left: .5rem;
  }

.contact-button:hover {
    color: var(--clr-neutral-900);
}

.contact-button:hover:after {
    height: 100%;
}

.contact-button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: var(--clr-primary-200);
}

.services-button {
    min-width: 30px;
    margin: .2rem;
    padding: 0px;
    border: none;
    border-bottom: 2px solid var(--clr-primary-200); 
}

/* ..contact button */

.steeply {
    animation: fadeIn 1s ease-in both;
}

.top-text {
    animation: fadeInDown 1s ease-in both;
    animation-delay: .3s;
}

.bottom-text {
    animation: fadeInUp 1s ease-in both;
    animation-delay: .3s;
}

ul {
    margin: 0;
    padding-inline-start: 0;
    margin-block: 0;
}

.social {
    position: absolute;
    margin: 0;
    bottom: 0px;
    z-index: 10;
    display: flex;
}
  
.social li {
    list-style: none;
    width: 100%;
    margin: 0 0.1rem;
}
  
.social li a {
    display: inline-block;
    transform: scale(0.3);
    transition: 0.4s;
}
  
.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

/* fade in animations.. */

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* ..fade in animations */

@media (min-width: 40em) {
    header {
        padding: 40px 50px;
    }

    h1 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 3rem;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
        font-weight: 400;
    }

    a {
        font-size: 1.6rem;
    }

    .logo {
        width: auto;
        height: 60px;
    }

    .contact-button {
        min-width: 120px;
        height: 35px;
        font-size: .9rem;
        letter-spacing: .17rem;
        margin-left: .7rem;
    }

    .services-button {
        min-width: 50px;
        margin: .6rem;
    }

    .top-text {
        margin-right: 315px;
    }

    .bottom-text {
        margin-left: 240px;
    }

    .social {
        left: 0%;
        transform: translate(0%, 0);
    }

    .social li a {
        transform: scale(0.4);
    }

    .social li {
        padding: 1rem;
    }

}